<% @posts_and_advertisements.each do |post| %>
  <div class="media">
    <%= render partial: 'votes/voter', locals: { post: post } %>
  <% if post.respond_to?(:image?) %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= image_tag(post.image.tiny.url) if post.image? %>
          <%= post.title %>
        </h4>
        <small>
          <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
          submitted <%= time_ago_in_words(post.created_at) %> ago by 
          <%= post.user.name %><br>
          <%= post.comments.count %> Comments
        </small>
      </div>
  <% else %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= post.title %><br>
          <small>
            <%= post.copy %>
          </small>  
        </h4>
      </div> 
  <% end %>
  </div>   
<% end %>
<%= will_paginate @posts %>