<div class="row">
  <div class="col-md-8">
    <div class="media">
      <% if @user.avatar? %>
        <div class="media-left">
          <%= image_tage @user.avatar.url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <div class='js-comments-count'><%= pluralize(@user.comments.count, 'comment') %></div>z
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="tabbable tabs-left">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
     <li><a href="#comments" data-toggle="tab">Comments</a></li>
   </ul>
   <div class="tab-content">
     <div class="tab-pane active" id="posts">
       <%= render partial: 'topics/posts_and_advertisements' %>
     </div>
     <div class="tab-pane" id="comments">
       <%= render partial: 'posts/comments_and_questions' %>
     </div>
   </div>
 </div>
</div>