<% @comments_and_questions.each do |feedback| %>
  <% if feedback.respond_to?(:resolved?) %>
    <%= content_tag :div, class: 'media', id: "question-#{feedback.id}" do %> 
      <div class="media-body">
        <h4 class="media-heading"></h4>
          <p><%= feedback.body %></p>
          <small>
            <%= image_tag(feedback.user.avatar.tiny.url) if feedback.user.avatar? %>
            submitted <%= time_ago_in_words(feedback.created_at) %> ago by
            <%= feedback.user.name %>
            <% if feedback.resolved? %>
              <p><i>This question has been answered.</i></p>
            <%end %>
            <% if policy(feedback).edit? %>
            <%= link_to " | edit", edit_post_question_path(feedback.post, feedback) %>
            <%= link_to " | delete", [feedback.post, feedback], method: :delete, remote: true, data: { confirm: "Are you sure?" } %> 
            <% end %>   
          </small>     
      </div>
    <% end %>

  <% else %>
    <%= content_tag :div, class: 'media', id: "comment-#{feedback.id}" do %> 
      <div class="media-body">
        <h4 class="media-heading"></h4>
          <p><%= feedback.body %></p>
          <small>
            <%= image_tag(feedback.user.avatar.tiny.url) if feedback.user.avatar? %>
            submitted <%= time_ago_in_words(feedback.created_at) %> ago by
            <%= feedback.user.name %>
            <% if policy(feedback).edit? %>
              <%= link_to " | edit", edit_post_comment_path(feedback.post, feedback) %>
            <% end %>
            <% if policy(feedback).destroy? %>  
              <%= link_to " | delete", [feedback.post, feedback], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
            <% end %> 
          </small> 
      </div>
    <% end %>

  <% end %>
<% end %>