
<br><%= link_to "Back to the topic page", topic_path(@topic) %><br><br>

<div class= "row">
  <div class= "col-md-8">
    <% if policy(@post).edit? && !@post.summary %>
      <%= link_to "Summarize Post", new_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
    <% end %>

    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <% end %>

    <%= render partial: 'favorites/favorite', locals: { post: @post } %>
      <div>
        <h3><%=pluralize(@post.points, 'point') %></h3>
        <small>
          <%=pluralize(@post.up_votes, 'up vote') %>,
          <%=pluralize(@post.down_votes, 'down vote') %>
        </small>
      </div>
    
  </div>
</div>

<div class= "row">
  <div class= "col-md-8">
    <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h1><%= @post.markdown_title %></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p><%= @post.markdown_body %></p>
    <%= image_tag(@post.image.small.url) if @post.image? %>
  </div>
</div>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <% if @post.summary %>
          <p><%= @post.summary.body %></p>
          <% if policy(@summary).edit? %>
          <%= link_to "Edit Summary", edit_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
          <%= link_to "Delete Summary", [@topic, @post, @summary], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %> 
        <% end %> 
    </div>
  </div>

  <h2>Comments and Questions</h2>
  <div class='js-comments'>
    <%= render partial: 'comments_and_questions' %>
  </div>
    <% if policy(Comment.new).create? %> 
      <div class="new-comment">
        <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment} %>
      </div>  
    <% end %>
    <% if policy(Question.new).create? %> 
      <div class="new-question">
        <%= render partial: 'questions/form', locals: { post: @post, question: @question} %>
      </div>  
    <% end %>


  




