<% @comments_and_questions.each do |feedback| %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p><%= feedback.body %></p>
        <small>
          <%= image_tag(feedback.user.avatar.tiny.url) if feedback.user.avatar? %>
          submitted <%= time_ago_in_words(feedback.created_at) %> ago by
          <%= feedback.user.name %>
        </small>

        <% if feedback.respond_to?(:resolved?) %>
          <% if feedback.resolved? %>
            <p><i>This question has been answered.</i></p>
          <%end %>
          <% if policy(feedback).edit? %>
          <%= link_to "Edit Question", edit_post_question_path(@post, feedback), class: 'btn btn-success' %>
          <%= link_to "Delete Question", [@post, feedback], method: :delete, data: { confirm: "Are you sure?" },  class: 'btn btn-danger' %> 
          <% end %>
        <% else %>
          <% if policy(feedback).edit? %>
            <%= link_to "Edit Comment", edit_post_comment_path(@post, feedback), class: 'btn btn-success' %>
          <% end %>
          <% if policy(feedback).destroy? %>  
            <%= link_to "Delete Comment", [@post, feedback], method: :delete, data: { confirm: "Are you sure?" },  class: 'btn btn-danger' %>
          <% end %> 
        <% end %>   
    </div>
  </div>
<% end %>