
<%= link_to "Back to the topic page", topic_path(@topic) %>
<h1><%= @post.markdown_title %></h1>
<div class= "row">
  <div class= "col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p><%= @post.markdown_body %></p></br>
    <%= image_tag(@post.image.small.url) if @post.image? %></br>
  </div>
</div>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <% if @post.summary %>
          <p><%= @post.summary.body %></p>
          <% if policy(@summary).edit? %>
          <%= link_to "Edit Summary", edit_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
          <%= link_to "Delete Summary", [@topic, @post, @summary], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %> 
        <% end %> 
    </div>
  </div>

  <%= render partial: 'comments_and_questions' %>


  
</br>
<% if policy(@post).edit? && !@post.summary %>
  <%= link_to "Summarize Post", new_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
<% end %>

<% if policy(@post).edit? %>
  <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
<% end %>
<% if policy(@post).destroy? %>
  <%= link_to "Delete Post", [@topic, @post], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
<% end %>
</br></br>

  <% if policy(Question.new).create? %>  
  <%= link_to "Ask a Question", new_post_question_path(@post), class: 'btn btn-success' %>
<% end %>

<% if policy(Comment.new).create? %>
  <%= link_to "Make a Comment", new_post_comment_path(@post), class: 'btn btn-success' %>
<% end %>


