<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<% if policy(@post).edit? && !@post.summary %>
  <%= link_to "Summarize Post", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
<% end %>

<% if policy(@post).edit? %>
  <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
  <%= link_to "Delete Post", [@topic, @post], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>    
<% end %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <% if @post.summary %>
          <p><%= @post.summary.body %></p>
          <% if policy(@summary).edit? %>
          <%= link_to "Edit Summary", edit_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
          <%= link_to "Delete Summary", [@topic, @post, @summary], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          <% end %> 
        <% end %> 
    </div>
  </div> <br>

  <% if policy(Question.new).create? %>  
  <%= link_to "Ask a Question", new_topic_post_question_path(@topic, @post), class: 'btn btn-success' %>
<% end %>

<% if policy(Comment.new).create? %>
  <%= link_to "Make a Comment", new_topic_post_comment_path(@topic, @post), class: 'btn btn-success' %>
<% end %>


<% @post.questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <h4><%= question.title %></h4>
        <p><%= question.body %></p>
        <% if question.resolved? %>
          <p><i>This question has been answered.</i></p>
        <% end %>
      </h4>
        <% if policy(question).edit?%>
          <%= link_to "Edit Question", edit_topic_post_question_path(@topic, @post, question), class: 'btn btn-success' %>
          <%= link_to "Delete Question", [@topic, @post, question], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %> 
        <% end %> 
    </div>
  </div> 
<% end %>

<% @post.comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p><%= comment.body %></p>
        <% if policy(comment).edit? %>
        <%= link_to "Edit Comment", edit_topic_post_comment_path(@topic, @post, comment), class: 'btn btn-success' %>
        <%= link_to "Delete Comment", [@topic, @post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %> 
        <% end %> 
    </div>
  </div>
<% end %>
  